[Unit]
Description=SMTP Honeypot
After=network.target

[Service]
Type=simple
User=smtp_honeypot
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/smtp_honeypot
WorkingDirectory=/etc/smtp_honeypot
Environment="SMTP_HONEYPOT_PORT=2525"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target